{%- extends "apostrophe-modal:baseSlideable.html" -%}
{%- import 'apostrophe-ui:components/buttons.html' as buttons -%}

{%- block modalClass -%}
  apos-widget-tree apos-ui-modal-no-sidebar apos-modal-slideable
{%- endblock -%}

{%- block controls -%}
  {{ buttons.major('Done', { action: 'cancel' }, 'apos-button--major') }}
{%- endblock -%}

{%- block label -%}
  {{ __('Area Structure') }}
{%- endblock -%}

{% macro widget(widgetItem, docId) %}
  <li>
    <button data-apos-area-structure-edit data-apos-doc-id="{{ docId }}" data-apos-widget-id="{{ widgetItem.id }}" data-apos-widget-dot-path="{{ widgetItem.data.__dotPath }}" class="apos-button apos-button--in-group apos-area-structure-edit" type="button" data-apos-tooltip="Edit" ><span class="apos-button-label"></span><i class="fa fa-pencil"></i></button>
    <button data-apos-area-structure-delete data-apos-doc-id="{{ docId }}" data-apos-widget-id="{{ widgetItem.id }}" data-apos-widget-dot-path="{{ widgetItem.data.__dotPath }}" class="apos-button apos-button--in-group apos-area-structure-delete" type="button" data-apos-tooltip="Trash" ><span class="apos-button-label"></span><i class="fa fa-trash"></i></button>
    {{ widgetItem.name }}
    {% if widgetItem.children %}
      {% for areaItem in widgetItem.children %}
        {{ area(areaItem) }}
      {% endfor %}
    {% endif %}
  </li>
{% endmacro %}

{% macro area(areaItem) %}
  {% if areaItem.children %}
    <ol class="apos-area-structure-list apos-area-structure-list--area">
      <li>
        <span class="apos-area-structure-area-label">Area Name: <strong>{{ areaItem.areaName }}</strong></span>
        <span class="apos-area-structure-area-label">Document: <strong>{{ data.docs[areaItem.name].title or data.docs[areaItem.name].slug }}</strong></span>
        <ol class="apos-area-structure-list apos-area-structure-list--widgets">
          {% for widgetItem in areaItem.children %}
            {{ widget(widgetItem, areaItem.name) }}
          {% endfor %}
        </ol>
      </li>
    </ol>
  {% endif %}
{% endmacro %}

{%- block body -%}
  <div class="apos-area-structure-body" data-area-structure-modal>
    {% for item in data.tree %}
      {{ area(item) }}
    {% endfor %}
  </div>
{%- endblock -%}

{%- block instructions -%}{%- endblock -%}